* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* metti hright auto solo dove serve
metti width auto solo dove serve
sostituisce i rem con i px
togli i border
fai respirare il codice HTML */

body {
    font-family: 'Montserrat', sans-serif;
}

div.container_top {
    display: flex;
    flex-direction: row;
}




/* side bar */
div.container_nav {
    /* border: 3px solid orange; */
    width: 300px;
    height: calc(100vh - 100px);
    background-color: #000000;
}

div.row_nav {
    /* border: 2px solid red; */
    width: auto;
    height: 100%; /* non auto */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Column nav up */
div.col_nav_up {
    /* border: 3px solid violet; */
    width: auto;
    height: auto; /* 300px */
}

div.box_logo {
    /* border: 3px solid green; */
    width: auto; 
    height: auto; 
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    /* border: 1px solid yellow; */
    max-width: 65%;
    object-fit: cover;
}

.left_list_item {
    /* border: 3px solid blue; */
    width: auto;
    height: auto;
    list-style-type: none;
    margin: 10px 20px 10px 20px;
}

div.box_icon {
    /* border: 1px solid red; */
    width: 12%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.icon {
    /* border: 1px solid yellow; */
    max-width: 100%;
    object-fit: cover;
    color: #a3a3a3;
}

a.to_do {
    /* border: 1px solid green; */
    text-transform: none;
    color: #a3a3a3;
    margin-left: 5px;
}

a.home {
    color: white;
}

a:hover {
    color: white;
    cursor: pointer;
}


/* Column nav middle */
div.col_nav_middle {
    /* border: 2px solid yellow; */
    width: auto;
    height: auto; /* 150px */
    flex-grow: 2;
    overflow: auto;
}

h4.title_playlist {
    /* border: 1px solid green; */
    color: white;
    text-transform: uppercase;
    margin: 20px 20px 10px 20px;
}

div.plus {
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add_button {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    border-color: transparent;
}

.fa-square-plus {
    /* border: 1px solid red; */
    color: #a3a3a3;
    font-size: 50px;
    margin: 0px 10px 0px 0px;
}

a.add_playlist {
    text-transform: none;
    font-size: 15px;
}

a.name_playlist {
    /* border: 1px solid green; */
    text-transform: none;
}

.fa-square-plus:hover {
    color: white;
    cursor: pointer;
}




/* Column nav down */
div.col_nav_down {
    /* border: 1px solid blue; */
    width: auto;
    height: auto; 
}

div.you_can_do {
    border: 1px solid;
    width: auto;
    height: auto;
    margin: 0px 20px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #6c6c6c;
    display: flex;
    flex-direction: row;
}

div.box_download {
    /* border: 1px solid red; */
    width: 7%;
    height: auto;
    margin-bottom: 5px;
}

.arrow_down {
    /* border: 1px solid yellow; */
    max-width: 100%;
    object-fit: cover;
}

div.box_app {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    margin-left: 15px;
}

a.app {
    text-transform: none;
}

div.john_doe_profile {
    /* border: 1px solid blue; */
    width: auto;
    height: auto;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.box_profile {
    /* border: 1px solid red; */
    width: 12%;
    height: auto;
    display: inline-block;
    margin-right: 15px;
}

.profile {
    /* border: 1px solid yellow; */
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: #808080;
}

span.user {
    color: white;
    font-weight: bold;
}





/* main */
div.container_main {
    /* border: 1px solid red; */
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #141922;
}

div.banner_up {
    /* border: 1px solid yellow; */
    width: auto;
    height: 100px;
    background-color: rgb(8, 11, 18, 0.5); 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

div.btn_upgrade {
    border: 1px solid;
    width: 20%;
    height: auto;
    padding: 10px;
    border-radius: 50px;
    border-color: white;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

div.btn_upgrade:hover {
    font-size: 90%;
    cursor: pointer;
}

div.main_nav {
    /* border: 1px solid pink; */
    height: auto; 
    margin: 20px 0px 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_ul {
    /* border: 1px solid red; */
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_li {
    /* border: 1px solid violet; */
    width: 10%; 
    height: auto; 
    padding: 10px 20px;
    list-style-type: none;
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: #77797e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.evidenza {
    display: flex;
    flex-direction: column;
}

div.green_bar {
    width: 15%;
    height: auto;
    padding: 1px 5px;
    margin-top: 2px;
    background-color: greenyellow;
}



/* First Section and Second Section */
div.row_film {
    /* border: 1px solid red; */
    width: 100%; /* auto */
    height: auto; 
    display: flex;
    flex-direction: row;
}

div.col_main {
    /* border: 1px solid blue; */
    width: calc(100% / 6 - 20px);
    height: auto; 
    margin: 0px 10px;
}

div.box_album {
    /* border: 3px solid green; */
    width: 200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

div.box_play_me {
    /* border: 3px solid green; */
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play_me {
    color: white;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.box_album:hover div.box_play_me {
    display: block;
    cursor: pointer;
}

.album {
    max-width: 100%;
    object-fit: cover;
}

div.info_album {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
    text-align: center;
}

h2.title_category, h3.principal_title {
    color: white;
}

h2.title_category {
    /* border: 1px solid yellow; */
    margin: 20px 0px 10px 20px;
}

h2.title_special {
    margin-bottom: 30px;
}

h3.principal_title {
    /* border: 1px solid red; */
    padding: 10px 0px;
    font-size: 18px;
}

h5.subtitle {
    color: #787a7f;
    font-size: 12px;
}

h6.suggestion{
    color: #787a7f;
    font-size: 12px;
    margin: 0px 0px 30px 20px;
}

.album_circle {
    border-radius: 50%;
}





/* footer */
div.container_footer {
    /* border: 3px solid orangered; */
    width: 100vw;
    height: 100px; /* non auto */
    background-color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.row_footer {
    /* border: 1px solid red; */
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.col_footer {
    /* border: 1px solid blue; */
    width: calc(100% / 3 );
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}





/* Column footer left */
div.col_footer_left {
    justify-content: flex-start;
}

div.sub_col_footer_left {
    /* border: 1px solid violet; */
    width: auto;
    height: auto; 
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.box_sinister {
    /* border: 1px solid green; */
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sinister_album {
    max-width: 100%;
    object-fit: cover;
}

.symbols_grey {
    color: #6c6c6c;
}

div.about {
    /* border: 1px solid red; */
    margin-right: 50px;
    margin-left: 15px;
}

span.identification {
    display: block;
}

span.name_album {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

span.name_piece {
    color: #6c6c6c;
    font-weight: bold;
    font-size: 12px;
}

span.name_piece:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

div.plural_choice {
    /* border: 1px solid green; */
}

.fa-heart {
    margin-right: 10px;
}

.fa-heart:hover, .fa-folder:hover {
    color: white;
    cursor: pointer;
}



/* Column footer center */
div.col_footer_center {
    justify-content: center;
}

div.sub_col_footer_center {
    /* border: 1px solid violet; */
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sub_card_up {
    /* border: 1px solid red; */
    width: auto;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.last_symbols {
    /* border: 1px solid yellow; */
    color: white;
    font-size: 20px;
    margin: 0px 15px;
}
.play_middle {
    font-size: 30px;
}

.play_middle:hover {
    font-size: 35px;
    cursor: pointer;
}

div.sub_card_down {
    /* border: 1px solid orange; */
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

span.outside_bar_center {
    /* border: 1px solid blue; */
    width: 100%;
    height: auto; 
    background-color: #5a5a5a;
    border-radius: 50px;
    padding: 2px 70px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

span.inside_bar_center {
    /* border: 1px solid pink; */
    width: 20%;
    height: auto; 
    padding: 2px 10px;
    background-color: #c1c1c1;
    border-radius: 50px;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}

span.circle_center {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
    background-color: #c1c1c1;
    padding: 5px 5px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    display: none;
}

span.outside_bar_center:hover
span.inside_bar_center {
    background-color: greenyellow;
    cursor: pointer;
}

span.inside_bar_center:hover span.circle_center {
    display: block;
}

span.time {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 20px;
}





/* Column footer right */
div.col_footer_right {
    justify-content: flex-end;
}

div.sub_col_footer_right {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

div.functions {
    /* border: 1px solid yellow; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

span.option {
    color: white;
    margin: 0px 10px;
}

span.outside_bar_right {
    /* border: 1px solid blue; */
    width: 50%;
    height: auto; 
    background-color: #5a5a5a;
    border-radius: 50px;
    padding: 2px 70px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

span.inside_bar_right {
    /* border: 1px solid pink; */
    width: 10%;
    height: auto; 
    padding: 2px 10px;
    background-color: #c1c1c1;
    border-radius: 50px;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}

span.circle_right {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
    background-color: #c1c1c1;
    padding: 5px 5px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    display: none;
}

span.outside_bar_right:hover
span.inside_bar_right {
    background-color: greenyellow;
    cursor: pointer;
}

span.inside_bar_right:hover span.circle_right {
    display: block;
}
















/* Media Query */

