* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

div.container_top {
    display: flex;
    flex-direction: row;
}

/* side bar */
div.container_nav {
    border: 1px solid black;
    width: 300px;
    height: calc(100vh - 100px);
}

div.row_nav {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.col_nav_up {
    border: 1px solid blue;
    width: 100%;
    height: 300px; /* auto */
}

div.box_logo {
    border: 3px solid green;
    width: auto; 
    height: auto; 
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    border: 1px solid yellow;
    max-width: 65%;
    object-fit: cover;
    filter: invert(1); /* cambia colore in bianco */
}

div.col_nav_middle {
    border: 1px solid blue;
    width: auto;
    height: 150px; /* auto */
    flex-grow: 2;
}

div.col_nav_down {
    border: 1px solid blue;
    width: auto;
    height: 150px; /* auto */
}

















/* main */
div.container_main {
    border: 1px solid black;
    width: calc(100vw - 300px);
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #141922;
}

div.banner_up {
    /* border: 1px solid yellow; */
    width: auto;
    height: 100px;
    background-color: #080b12; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

div.btn_upgrade {
    border: 1px solid;
    width: 20%;
    height: auto;
    padding: 10px;
    border-radius: 50px;
    border-color: white;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

div.main_nav {
    /* border: 1px solid pink; */
    height: auto; 
    margin: 20px 0px 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_ul {
    /* border: 1px solid red; */
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_li {
    /* border: 1px solid violet; */
    width: 10%; 
    height: auto; 
    list-style-type: none;
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    color: #77797e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}


/* First Section and Second Section */
div.row_film {
    /* border: 1px solid red; */
    width: 100%; /* auto */
    height: auto; 
    display: flex;
    flex-direction: row;
}

div.col_main {
    /* border: 1px solid blue; */
    width: calc(100% / 6);
    height: auto; 
    margin: 0px 5px;
}

div.box_album {
    /* border: 3px solid green; */
    width: 200px;
    height: 200px; /* auto */
    margin: 0 auto;
}

.album {
    max-width: 100%;
    object-fit: cover;
}

div.info_album {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
    text-align: center;
}

h2.title_category, h3.principal_title {
    color: white;
}

h2.title_category {
    /* border: 1px solid yellow; */
    margin: 20px 0px 10px 0px;
}

h2.title_special {
    margin-bottom: 30px;
}

h3.principal_title {
    /* border: 1px solid red; */
    padding: 10px 0px;
    font-size: 18px;
}

h5.subtitle {
    color: #787a7f;
    font-size: 12px;
}

h6.suggestion{
    color: #787a7f;
    font-size: 12px;
    margin-bottom: 30px;
}

.album_circle {
    border-radius: 50%;
}
























/* footer */
div.container_footer {
    border: 1px solid black;
    width: 100vw;
    height: 100px; /* non auto */
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.row_footer {
    border: 1px solid red;
    width: 100%;
    height: 90px; /* auto */
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.col_footer {
    border: 1px solid blue;
    width: calc(100% / 3 );
    height: 80px; /* auto */
}







